<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Home</title>
  <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css" />
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h2 style="margin-top:50px;">Hello World!!!</h2>
    <div th:if="${users}">
      <table class="table table-hover">
        <thead>
          <tr><th scope="col">Name</th><th scope="col">Role</th></tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}">
            <td th:text="${user.name}">name</td>
            <td th:text="${user.role}">role</td>
          </tr>
        </tbody>
      </table>
    </div>
    <img alt="SpringBoot" src="/images/spring-boot-logo.png" />
  </div>
</body>
</html>
